img.social-icon
  width 50px
  height 50px

.contact-content
  width 60%
  margin-right auto
  display flex
  flex-direction row
  justify-content space-between
  background-color red

form
  width 100%
  height auto
  display flex
  flex-direction column
  background-color red

.input-section
  width 100%
  height auto
  margin-right auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  align-items center
  background-color green

input.send-data
  width 100px
  margin-left auto

.input-section span,.input-section input
  display flex
  flex 0 1 20%
  margin 2vw 0

.text-alert
  border 5px solid white
  width 40%
  height auto
  padding 5vw
  border-radius 15px
  position absolute
  left 50%
  top 50%
  transform translate(-50%,-50%)

.text-alert p
  color white
  font-size 32px

.text-alert img
  width 50px
  height 50px
  position absolute
  right 1.5%
  top 1.5%
  cursor pointer

@media (max-width 768px)
  .text-alert
    width 60%

  .text-alert p
    font-size 28px

@media (max-width 480px)
  .text-alert
    width 80%

  .text-alert p
    font-size 24px
