$blue = rgb(35,39,95)

footer
  width 100%
  height auto
  padding 1vw 0 1vw 0
  background-color $blue

.footer-wrapper
  width 100%
  height auto
  display flex
  flex-direction row
  justify-content space-around
  align-items center
  width 100%

.footer-top-right
  width 50%
  height auto

ul.nav-footer
  width 33%
  margin-top 0
  padding-left 0

ul.nav-footer li.nav-footer-item
  color white
  padding .5vw 0

li.nav-footer-item
  border-bottom 2px solid white
  padding .4vw

ul.social-list
  display flex
  flex-direction row
  justify-content space-around
  align-items center
  width 50%

ul.data-list li.data-list-item
  color white
  padding .4vw 0

li.social-list-item a svg
  width 30px
  height 30px

.contact-bar
  width 100%
  height auto
  padding 1vw 0
  background-color rgb(204,204,204)
  text-align center

span.contact-text,span.contact-text a
  font-size 20px
  font-weight bold
  color $blue

@media (max-width 768px)

  ul.nav-footer
    width 45%

@media (max-width 640px)

  ul.data-list li.data-list-item, ul.nav-footer li.nav-footer-item
    font-size 14px

  .footer-wrapper
    flex-direction column

  .footer-top-right
    width 100%

  ul.nav-footer
    padding-left 0
    width 30%
    margin 0 auto
    text-align center

  li.nav-footer-item
    margin 1vw 0

  .footer-top-left
    width 70%
    margin 0 auto
    margin 2vw 0

  ul.data-list
    width 50%
    margin 0 auto
    padding: 0

  ul.social-list
    width 60%
    padding 3vw 0
    margin 0 auto

  ul.nav-footer li.nav-footer-item
    padding: 2vw 0

  span.contact-text,span.contact-text a
    font-size 16px

  ul.nav-footer
    width 40%

  ul.data-list
    text-align: center;

@media (max-width 480px)

  ul.data-list li.data-list-item, ul.nav-footer li.nav-footer-item
    font-size 12px

  span.contact-text,span.contact-text a
    font-size 14px

  ul.nav-footer
    width 70%

  ul.data-list
    width 100%

  ul.social-list
    width: 70%

@media (max-width 320px)

  ul.nav-footer
    width 80%

  ul.social-list
    width: 100%
