.title-install
  margin 4vw 0 2vw 0

span.purple-title
  color #23275f
  font-size 20px

.gallery-wrapper
  width 80%
  height 70vw
  margin 0 auto
  position relative
  padding 5vw

.title-img
  width 100%
  height auto
  padding: 1vw 0

span.title-img-text
  font-size 20px
  color #fff

.close-lightbox
  position absolute
  top 0
  right 0
  width 40px
  height 40px
  cursor pointer

img.close-icon
  width: 40px
  height: 40px

.slider-img
  width 80%
  height auto
  margin 0 auto
  display flex
  flex-direction row
  flex-wrap: wrap;
  align-items center

.img-wrapper
  position: relative;
  width 100%
  height auto
  margin 0 auto
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

#imgCurrent
  width 100%
  height auto
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */

.left-img,.right-img
  width 30px
  height 30px
  position absolute
  color white
  font-size 100px
  top 50%
  transform translateY(-50%)
  z-index 10
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */

.left-img
  left 0%
  cursor pointer

.right-img
  right 1%
  cursor pointer

.img-desc
  width 100%
  margin-right auto
  margin-top: 1vw
  color #fff


@media(max-width 768px)
  .title-install
    margin 5vw 0 3vw 0

  span.purple-title
    font-size 16px

  .left-img,.right-img
    font-size 80px

  img.close-icon
    width: 60px
    height: 30px

  .left-img, .right-img
    font-size 50px

@media(max-width 640px)

  .left-img,.right-img
    font-size 70px

@media(max-width 480px)

  .left-img,.right-img
    font-size 40px

  span.purple-title
    font-size 14px

@media(max-width 320px)

  .left-img,.right-img
    font-size 30px
