          /*** ESTILOS GENERALES ***/
@import './normalize.css' /* estandarizar parametros */
@import './animate.min.css' /* animaciones */
@import './hover-min.css' /* efectos hover */
@import './header.styl'  /* menu */
@import './footer.styl'  /* footer */

          /*** Stylus ***/

@import './slider'  /* slider home */
@import './slider-small'  /* slider home */
@import './home'  /* contenido home */
@import './quienes-somos'  /* contenido quienes somos */
@import './instalaciones' /* instalaciones.html */
@import './servicios'  /* contenido contacto */
@import './notas'  /* contenido notas */
@import './nota-blog'  /* contenido notas */
@import './service-data'  /* contenido notas */
@import './contacto'  /* contenido contacto */

@font-face
  font-family "Exo"
  src url('../fonts/Exo-Regular.otf')

html,body
  overflow-x hidden
  font-family "Exo"

body
  background-color #fff
  margin 0 auto

ul
  list-style-type none

a
  text-decoration none
  color #23275f

a:active
  color #23275f

.background-lightbox
  background rgba(48, 44, 44, 0.8)
  width 100%
  height 100%
  position fixed
  z-index -9
  opacity 0
  display block
  transition .6s ease
