.mem-desc
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-items center

.mem-desc-img,.mem-desc-text
  flex 0 1 50%
  height 70vh

.mem-desc-text
  overflow scroll

.mem-desc-img img
  width 100%
  height 100%

.mem-desc-text-wrapper
  padding 1vw
  width 80%
  margin 0 auto

.sites-quien
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding 0

span.title-p
  color #23275f
  font-size 24px

p.mem-desc-info
  font-size 18px

.mem-des2
  width 100%
  height auto
  padding 2vw 0

.mem-img2
  width 100%
  height auto

.mem-img2 img
  width 100%
  height 100%

.mem-vm
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items center
  margin 3vw 0

.mem-vm-img
  flex 0 1 50%
  height 70vh

.mem-vm-img img
  width 100%
  height 100%

.mem-vm-info
  flex 0 1 50%
  height auto
  max-height 70vh
  display flex
  flex-direction column
  justify-content space-around
  align-items flex-end

.mem-vm-top, .mem-vm-bottom
  width 80%
  margin 0 auto
  padding 1vw 0

.mem-values
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items center
  margin 3vw 0

.mem-values-info,.mem-values-img
  flex 0 1 50%
  height 40vh

.mem-values-img img
  width 100%
  height 100%

.mem-values-info-wrapper
  width 80%
  margin 2vw

li.value-list-item
  font-size 18px


@media(max-width 768px)

  .mem-desc
    width 90%
    height auto
    margin 0 auto
    display flex
    flex-direction column-reverse
    flex-wrap nowrap
    justify-content center
    align-items center

  .sites-quien
    width 90%
    height auto
    margin-top 13vw
    padding 0

  .mem-desc
    flex-wrap wrap

  .mem-desc-img,
    height 40vh
    max-height 70vh

  .mem-desc-text
    height auto

  .mem-desc-img,.mem-desc-text
    flex 0 1 90%

  .mem-des2
    width 90%
    margin 0 auto

  .mem-vm
    flex-direction column

  .mem-vm-img,.mem-vm-info
    flex 0 1 100%

  .mem-vm-img,.mem-vm-bottom, .mem-vm-top,.mem-img2,.mem-desc-text-wrapper,.mem-values-img, .mem-values-info
    width 90%
    margin 0 auto

  .mem-desc-img,.mem-desc-text-wrapper
    width 100%
    margin 0 auto

  .mem-values
    flex-direction column-reverse

  .mem-values-info
    height auto

@media(max-width 480px)
  .mem-desc-img,
    height 40vh
    max-height 70vh

  .mem-desc-text
    height auto
