.mem-desc
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-items flex-start

.mem-desc-img,.mem-desc-text
  width 50%
  height auto

.mem-desc-img img
  width 100%
  height 100%

.mem-desc-text-wrapper
  padding 1vw
  width 80%
  margin 0 auto

.sites-quien
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding 0

span.title-p
  color #23275f
  font-size 24px

p.mem-desc-info
  font-size 18px

.mem-des2
  width 100%
  height auto
  padding 2vw 0

.mem-img2
  width 100%
  height auto

.mem-img2 img
  width 100%
  height 100%

.mem-vm
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items center
  margin 3vw 0

.mem-vm-img
  width 50%
  height 40vw

.mem-vm-img img
  width 100%
  height 100%

.mem-vm-info
  display flex
  width 50%
  height auto
  flex-direction column
  justify-content space-around
  align-items flex-start

.mem-vm-top, .mem-vm-bottom
  width 80%
  margin 0 auto
  padding 1vw 0

.mem-values
  width 100%
  height auto
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items center
  margin 3vw 0

.mem-values-info,.mem-values-img
  width 50%
  height 40vw

.mem-values-img img
  width 100%
  height 100%

.mem-values-info-wrapper
  width 80%

.mem-values-info-wrapper span.title-p
  margin 1vw

li.value-list-item
  font-size 18px


@media(min-width 1440px)
  li.value-list-item, p.mem-desc-info
    font-size 28px

@media(max-width 768px)

  .mem-desc
    width 100%
    height auto
    margin 0 auto
    display flex
    flex-direction column-reverse
    flex-wrap nowrap
    justify-content center
    align-items center

  .sites-quien
    width 96%
    height auto
    margin-top 13vw
    padding 0

  .mem-desc-img
    height auto

  .mem-desc-text
    height auto

  .mem-desc-img,.mem-desc-text
    width 90%

  .mem-des2
    width 90%
    margin 0 auto

  .mem-vm
    flex-direction column

  .mem-vm-img,.mem-vm-info
    width 95%

  .mem-vm-img,.mem-vm-bottom, .mem-vm-top,.mem-img2,.mem-desc-text-wrapper,.mem-values-img, .mem-values-info
    width 95%
    margin 0 auto

  .mem-desc-img,.mem-desc-text-wrapper
    width 100%
    margin 0 auto

  .mem-values
    flex-direction column-reverse

  .mem-values-info
    height auto

@media(max-width 320px)
  .sites-quien
    padding-top 2vw

  li.value-list-item, p.mem-desc-info
    font-size 14px
