.img-wrapper
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
  width 100%
  height auto
  justify-content flex-start
  align-items center

.img-wrapper-info
  position relative
  width 25%
  height auto

.img-wrapper-info img
  width 100%
  height auto

.text-title
  position absolute
  width 5%
  height 99%
  background rgba(61,191,229,0.7)
  top 0
  left 0
  padding 0 2.4vw
  transition 1s
  text-align left


span.title-info
  transform rotate(-90deg)
  position absolute
  top 50%
  left -9px
  color #fff
  font-size 22px
  transition .5s

a.ver-mas
  position absolute
  top 75%
  left 36%
  border 2px solid white
  color white
  padding 2vw
  font-size 12px

span.title-info a
  color white

@media(min-width 1024px)
  .text-title:hover span.title-info
    transform rotate(0deg)
    left 35%

  .text-title:hover
    width 79%
    transition 1s

@media(min-width 769px)
    a.ver-mas
      display none

@media (max-width 1024px)
  span.title-info
    font-size 14px

@media (max-width 768px)
  .text-title
    width 79%
    height 99.5%
    transition 1s
    display: flex;
    flex-direction column
    justify-content center
    align-items center


  span.title-info
    transform rotate(0deg)
    position relative
    left 0
    top 0

  .img-wrapper-info
    width 49%

  .img-wrapper
    justify-content space-around

  .text-title
    width 90%
@media (max-width 320px)

  span.title-info
    left 23%

  a.ver-mas
    left 31%
