.img-wrapper
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
  width 100%
  height auto
  justify-content center
  align-items center

.img-wrapper-info
  position relative
  width 25%
  height auto

.img-wrapper-info img
  width 100%
  height auto

.text-title
  position absolute
  width 5%
  height 99%
  background rgba(61,191,229,0.7)
  top 0
  left 0
  padding 0 2.4vw
  transition .3s
  text-align center


span.title-info
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: -97px;
  color: #fff;
  font-size: 22px;
  transition: 1s;
  width: 260px;

span.subtitle-info
  position: absolute;
  top:28%;
  width: 100%
  left: 0%
  color: #fff;
  font-size: 16px;
  transition: 1s;
  opacity 0

span.subtitle-info a
  color white

a.ver-mas
  position absolute
  top 75%
  left 36%
  border 2px solid white
  color white
  padding 1.5vw
  font-size 12px
  transition linear .3s
  opacity 0

a.ver-mas:hover
  border: 2px solid black;
  color: black;

span.title-info a
  color white
  font-size: 28px

span.info-text-item-title
  font-size 17px

@media(min-width 1680px)
  span.title-info
    left -80px
    font-size 28px


@media(min-width 1366px)
  span.title-info
    left -86px
    font-size 26px

@media(min-width 769px)
  .text-title:hover span.title-info
    transform rotate(0deg)
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;

  .text-title:hover a.ver-mas
    opacity 1

  .text-title:hover span.subtitle-info
    opacity 1

  .text-title:hover
    width 79%
    transition 1s

  ul.accordion-wrapper
    display flex

@media (max-width 1025px)

  span.title-info
    font-size 19px

@media (max-width 1024px)
  span.title-info
    font-size 14px

  ul.accordion-wrapper
    display none !important

@media(min-width 769px)
    a.ver-mas
      opacity 0


@media (max-width 768px)
  .text-title
    width 79%
    height 99.5%
    transition 1s
    display: flex;
    flex-direction column
    justify-content center
    align-items center

  span.title-info
    transform rotate(0deg)
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;

  .img-wrapper-info
    width 49%

  .img-wrapper
    justify-content space-around

  .text-title
    width 90%

  span.title-info a
    font-size: 26px

  span.subtitle-info,a.ver-mas
    opacity: 1

  a.ver-mas
    padding: 2.5vw

@media(max-width 640px)
  span.title-info a
    font-size 24px

@media (max-width 480px)

  span.title-info a
    font-size: 22px

  span.subtitle-info a
    display none

  a.ver-mas
    left 33%
    top 50%

@media (max-width 320px)

  span.title-info a
    font-size: 20px
