.banner-service
  width 100%
  height auto
  display flex
  flex-direction row

.banner-service-wrapper
  width 100%
  height auto
  display flex
  flex-direction row

.banner-icon
  display flex
  justify-content center
  align-items center
  width 20%
  background-color rgb(0,166,213)

.banner-icon img
  width 150px
  height 150px

.banner-title
  display flex
  width 80%
  background-color rgb(35,39,95)
  justify-content flex-start
  align-items flex-start

span.banner-title-text
  color white
  font-size 48px
  text-align left
  padding 2vw 3vw

.nota-content-wrapper.service-data-wrapper
  flex-direction row-reverse

@media (max-width 1024px)
  .banner-icon img
    width 125px
    height 125px

  span.banner-title-text
    font-size 42px

@media (max-width 768px)

  .banner-icon img
    width 100px
    height 100px

  span.banner-title-text
    font-size 36px

@media (max-width 640px)

  .banner-icon img
    width 85px
    height 85px

  span.banner-title-text
    font-size 32px

@media (max-width 480px)

  .banner-icon img
    width 65px
    height 65px

  span.banner-title-text
    font-size 28px

@media (max-width 320px)

  .banner-icon img
    width 50px
    height 50px

  span.banner-title-text
    font-size 24px
