.swiper-container.swiper-container-small
  width 100%
  height 20vw

.swiper-slide.slider-small
  text-align center
  font-size 18px
  background #fff
  display -webkit-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-box-pack center
  -ms-flex-pack center
  -webkit-justify-content center
  justify-content center
  -webkit-box-align center
  -ms-flex-align center
  -webkit-align-items center
  align-items center
  height 20vw
  cursor pointer

.swiper-pagination
  &.pagination-small
    display none

.swiper-container.swiper-container-small.swiper-personal
  margin 0 0 3vw 0


@media (max-width 768px)
  .swiper-container.swiper-container-small
    height 20vw

@media (max-width 640px)
  .swiper-container.swiper-container-small
    height 30vw

@media (max-width 320px)
  .swiper-container.swiper-container-small
    height 60vw
